body{
    margin:0;
    height:100vh;
    background-color:#0a0a0a;
}

#video{
    height:100vh;
    position:absolute;
    top:0;
    left:0;
    right:0;
    margin:0 auto;

}

#flags{
    width:80%;
    position:absolute;
    top:150px;
    left:0;
    right:0;
    margin:0 auto;
}

#flags .flag{
    display:inline-block;
    margin:50px;
}

#flags .flag img{
opacity:0.8;
border-radius:15px;
transition:0.2s;
}

#flags .flag img:hover{
transform:scale(1.2);
}