body{
    margin:0;
}

#video{
    height:100vh;
    position:absolute;
    top:0;
    left:0;
    right:0;
    margin:0 auto;

}

#flags{
    width:80%;
    height:200px;
    position:absolute;
    top:0;
    left:0;
    right:0;
    margin:0 auto;
}

#flags .flag{
    display:inline-block;
    margin:50px;
}