@import url('https://danieldahdal.github.io/clients/harlan-blackshire/i-am-that-smoke/css/font.css');

body{
    margin:0;
    background-color:#0a0a0a;
}

#aztec_pyramids{
    background-image:url("https://danieldahdal.github.io/clients/harlan-blackshire/i-am-that-smoke/collections/heritage/mexico/media/640px-Chichen_Itza_3.jpeg");
    background-repeat:no-repeat;
    background-size:cover;
    width:100%;
    height:100vh;
    position:absolute;
}

#mexico_flag{
    background-image:url("https://danieldahdal.github.io/clients/harlan-blackshire/i-am-that-smoke/collections/heritage/mexico/media/Flag_of_Mexico [Modified].svg");
    background-repeat:no-repeat;
    background-size:cover;
    opacity:0.5;
    width:100%;
    height:100vh;
    position:absolute;
}

#aztec_pyramids #tees{
    margin:20px;
    position:absolute;
    z-index:1;
}

#aztec_pyramids #tees .tee{
    display:inline-block;
    margin:1%;
    width:17%;
}

#aztec_pyramids #tees .tee p{
    font-size:20px;
    font-family: 'Questrial', sans-serif;
    font-weight:bold;
    text-align:center;
    color:#ffffff;
}

#aztec_pyramids #tees .tee img{
    border-radius:50%;
    object-fit:cover;
    opacity:0.8;
    box-shadow:0 0 5px 5px #ffffffbb;
    cursor:pointer;
    transition:0.2s;
    width:100%;
}

#aztec_pyramids #tees .tee img:hover{
    box-shadow:0 0 5px 7px #ffffffbb;
}

#aztec_pyramids #tees .tee img:active{
    box-shadow:0 0 5px 9px #ffffffbb;
}

#aztec_pyramids #tees h1{
    width:60%;
    font-size:35px;
    font-family: 'Questrial', sans-serif;
    text-decoration:underline;
    text-align:center;
    color:#ffffff;
}

#aztec_pyramids #tees #browseMoreDesigns{
    display:inline-block;
    margin-bottom:50px;
}

#aztec_pyramids #tees #browseMoreDesigns h2{
    font-size:20px;
    font-family: 'Questrial', sans-serif;
    text-align:center;
    color:#ffffff;
    margin-top:50px;
}

#aztec_pyramids #tees #browseMoreDesigns #browse_button{
    background-color:#000000;
    color:#ffffff;
    width:170px;
    font-size:20px;
    font-family: 'Questrial', sans-serif;
    text-align:center;
    text-decoration:none;
    display:block;
    padding:20px;
    border:2px solid #ffffff;
    border-radius:50px;
    transition:0.2s;
}

#aztec_pyramids #tees #browseMoreDesigns #browse_button:hover{
    box-shadow:0 0 25px 5px #ffffff;
    margin-top:20px;
}

#aztec_pyramids #tees #browseMoreDesigns #browse_button:active{
    box-shadow:0 0 25px 8px #ffffff;
    margin-top:25px;
}