body{
    margin:0;
}

#aztec_pyramids{
    background-image:url("https://danieldahdal.github.io/clients/harlan-blackshire/i-am-that-smoke/collections/heritage/mexico/media/640px-Chichen_Itza_3.jpeg");
    background-repeat:no-repeat;
    background-size:cover;
    width:100%;
    height:100vh;
    position:absolute;
}

#mexico_flag{
    background-image:url("https://danieldahdal.github.io/clients/harlan-blackshire/i-am-that-smoke/collections/heritage/mexico/media/Flag_of_Mexico [Modified].svg");
    background-repeat:no-repeat;
    background-size:cover;
    opacity:0.5;
    width:100%;
    height:100vh;
    position:absolute;
}