body{
    margin:0;
}

#hawaiian_flag{
    background-image:url("https://danieldahdal.github.io/clients/harlan-blackshire/i-am-that-smoke/collections/heritage/hawaiian/media/Flag_of_Hawaii.svg");
    background-repeat:no-repeat;
    background-size:cover;
    width:100%;
    height:100vh;
    position:absolute;
}

#hawaiian_beach{
    background-image:url("https://danieldahdal.github.io/clients/harlan-blackshire/i-am-that-smoke/collections/heritage/hawaiian/media/Hawaiian_Beach.jpeg");
    background-repeat:no-repeat;
    background-size:cover;
    opacity:0.7;
    width:100%;
    height:100vh;
    position:absolute;
}