@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@500&display=swap');

body{
    margin:0;
}

#aztec_pyramids{
    background-image:url("https://danieldahdal.github.io/clients/harlan-blackshire/i-am-that-smoke/collections/heritage/mexican/media/640px-Chichen_Itza_3.jpeg");
    background-repeat:no-repeat;
    background-size:cover;
    width:100%;
    height:100vh;
    position:absolute;
}

#mexican_flag{
    background-image:url("https://danieldahdal.github.io/clients/harlan-blackshire/i-am-that-smoke/collections/heritage/mexican/media/Flag_of_Mexico.svg");
    background-repeat:no-repeat;
    background-size:cover;
    opacity:0.5;
    width:100%;
    height:100vh;
    position:absolute;
}

#TMS *{
    display:inline-block;
}

#country{
    color:#000000;
    font-size:150px;
    font-family: 'Oswald', sans-serif;
    position:absolute;
    left:0;
    right:0;
    margin:0 auto;
    margin-top:25px;
    z-index:1;
}

.word{
    color:#ffffff;
    font-size:50px;
    font-family: 'Oswald', sans-serif;
    margin-top:25px;
    z-index:1;
}