@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@600&display=swap');

body{
    margin:0;
    height:100vh;
    background-color:#0a0a0a;
}

#video{
    height:100vh;
    position:absolute;
    top:0;
    left:0;
    right:0;
    margin:0 auto;

}

#content{
    position:absolute;
    top:35px;
    left:0;
    right:0;
    margin:0 auto;
}

#headline{
    font-family: 'Oswald', sans-serif;
    font-size:80vw;
    color:#000000;
    -webkit-text-stroke:3px #ff0000;
}

#headline span{
    font-size:57.6vw;
}

#flags{
    width:80%;
}

#flags .flag{
    font-family: 'Oswald', sans-serif;
    font-size:25px;
    text-align:center;
    text-decoration:none;
    color:#ffffff;
    display:inline-block;
    margin:50px;
    transition:0.2s;
}

#flags .flag:hover{
    transform:scale(1.1);
}

#flags .flag img{
    opacity:0.8;
    border-radius:15px;
}